<%-include("../includes/start.ejs")%>
</head>
<body>
    <%-include("../includes/navbar.ejs")%>
      
      <!-- main body -->
      <div class="container">
        <h2 class="text-center text-primary">Your Passwords</h2>
        <hr>
        <% if(data.length==0){%>
          <h1>NO DATA FOUND</h1>
        <% }else{%>
        <p class="text-muted text-center">All of your passwords show here</p>            
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Website Name</th>
              <th>User Name</th>
              <th>Password</th>
            </tr>
          </thead>
          <tbody>
            <% for(let item of data){%>
            <tr>
              <td><%=item.websiteName%></td>
              <td><%=item.username%></td>
              <td><%=item.password%></td>
            </tr>
            <%}%>
          </tbody>
        </table>
        <% } %>
      </div>
      

      
      <%-include("../includes/end.ejs")%>